<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Łukasz Dzieło">
    <!-- website title -->
    <title>Eueopean League of Football</title>
    <meta name="description" content="#" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="{{ .Site.BaseURL }}/files/favicon/favicon.svg">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/files/favicon/favicon.png">

    <!-- website styles -->
    {{ $css := resources.Get "/css/main.scss" | toCSS | minify | fingerprint }}
    <link href="{{ $css.RelPermalink }}" rel="stylesheet">
    
    <!-- <link href="{{ $css.RelPermalink }}" rel="stylesheet"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

</head>

<body class="d-lg-flex flex-nowrap">

    {{- partial "_pages_list.html" . -}}