{{- partial "_html_start.html" . -}}

{{- partial "_head.html" . -}}

{{- partial "side-menu.html" . -}}

<main>
    
    {{- partial "top-bar.html" . -}}
    
    <div class="container-fluid pt-8 px-sm-8 overflow-hidden">
        <div class="row g-4 align-items-center mb-8">
            <div class="col-auto">
                <h1 class="fw-bold mb-0 me-4">Dashboard</h1>
            </div>
            <div class="col-auto ms-auto">
                <div class="row gy-2 gx-6">
                    <div class="col-auto">
                        <button class="btn btn-gray-550 btn-lg">
                            <span class="me-auto">See full list</span>
                            <svg class="icon ms-3" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-10 gx-xxl-30 pb-16">
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Barcelona Dragons</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/barcelona_dragons.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Berlin Thunder</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/berlin_thunder.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Cologne Centurions</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/cologne_centurions.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Frankfurt Galaxy</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/frankfurt_galaxy.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Hamburg Sea Devils</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/hamburg_sea_devils.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Istanbul Rams</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/istanbul_rams.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Leipzig Kings</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/leipzig_kings.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Wroclaw Panthers</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/wroclaw_panthers.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Raiders Tirol</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/raiders_tirol.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Rhein Fire</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/rhein_fire.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Stuttgart Surge</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/stuttgart_surge.png" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-auto">
                <div class="team-short">
                    <div class="heading">Vienna Vikings</div>
                    <div class="image">
                        <img src="{{ .Site.BaseURL }}/files/teams/vienna_vikings.svg" alt="#">
                        <a href="#" class="stretched-link"></a>
                    </div>
                    <ul class="list-unstyled">
                        <li><span>Players In Team:</span><span class="score">75</span></li>
                        <li><span>Players awaiting submission:</span><span class="score">16</span></li>
                        <li><span>Licenses Pending:</span><span class="score">24</span></li>
                        <li><span>Licenses Approved:</span><span class="score">20</span></li>
                        <li><span>Licenses Rejected:</span><span class="score">15</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>

{{- partial "_footer_scripts.html" . -}}

{{- partial "_html_end.html" . -}}