.toast {
    @include border-radius($border-radius);
    max-width: calc(100vw - 1.5rem);
    background: var(--gray-850);
    &-header {
        padding: 0.75rem 1.5rem;
        background: unset;
        color: var(--white);
    }
    &-footer {
        padding: 0.5rem;
        text-align: center;
        .btn-text {
            @include font-size(1.125rem);
            font-weight: bold;
        }
    }
    .heading {
        @include font-size(1.5rem);
        font-weight: bold;
    }
    .news-item {
        display: flex;
        border-block-end: 1px solid var(--gray-400);
        padding: 1rem 1.5rem;
        .news-image {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            margin-inline-end: 0.75rem;
            @include border-radius($border-radius);
            padding: 0.25rem;
            width: 3.5rem;
            height: 3.5rem;
            background: var(--primary);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .news-content {
            overflow: hidden;
        }
        :is(.title, .subtitle, .date) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .title {
            @include font-size(0.875rem);
        }
        .subtitle {
            @include font-size(0.75rem);
        }
        .date {
            @include font-size(0.5rem);
        }
    }
}

.user .dropdown-menu {
    border: 0;
    padding: 0;
    min-width: 200px;
    overflow: hidden;
    background: var(--gray-850);
    .dropdown-item {
        display: inline-flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: rgba(var(--white-rgb), 0.5);
        transition: $transition-base;
        .icon {
            fill: rgba(var(--white-rgb), 0.5);
            transition: $transition-base;
        }
        &:hover {
            background-color: unset;
            color: var(--white);
            .icon {
                fill: var(--white);
            }
        }
    }
    // .icon {
    //     margin-inline-end: 0.75rem;
    // }
}

.team-short {
    @include font-size(1.125rem);
    @include media-breakpoint-up(lg) {
        max-width: 240px;
    }
    .heading {
        text-align: center;
        margin-block-end: 0.5rem;
        font-weight: var(--fw-semibold);
    }
    .image {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-block-end: 1.75rem;
        @include border-radius($border-radius);
        padding: 1rem;
        width: 100%;
        height: 180px;
        background: var(--primary);
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    ul {
        font-weight: var(--fw-semibold);
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        li + li {
            margin-block-start: 0.5rem;
        }
        .score {
            margin-inline-start: 1rem;
            @include font-size(1.5rem);
            font-weight: var(--fw-bold);
        }
    }
}

.pagination {
    .page-item {
        margin: 0 0.25rem;
        z-index: 0;
    }
    .page-link {
        @include border-radius($border-radius);
        @include font-size(0.875rem);
        font-weight: bold;
    }
    .form-select {
        // padding: $pagination-padding-y $pagination-padding-x;
        border-width: $pagination-border-width;
        padding: $pagination-padding-y $form-select-indicator-padding
            $pagination-padding-y $form-select-padding-x;
        $form-select-indicator-color: $white;
        $form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
        background-color: var(--primary);
        background-image: escape-svg($form-select-indicator);
        color: $pagination-color;
        @include font-size(0.875rem);
        text-align: center;
    }
}

.table {
    --border-radius: 1rem;
    // @include font-size(1.125rem);
    font-weight: var(--fw-semibold);
    border-spacing: 0;
    border-collapse: separate;
    height: 100%;
    td,
    th {
        display: table-cell;
        border: 0;
        padding: 0;
        text-align: center;
        > * {
            height: 100%;
        }
    }
    thead {
        th {
            color: var(--gray-550);
            font-weight: bold;
            vertical-align: bottom;
            white-space: nowrap;
            > * {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                padding: 0.5rem 1rem;
            }
            &:first-of-type {
                border-left: 1rem solid transparent;
                @include media-breakpoint-up(lg) {
                    border-left: 1.5rem solid transparent;
                    > * {
                        padding-left: 1.5rem;
                    }
                }
            }
            &:last-of-type {
                border-right: 1rem solid transparent;
                @include media-breakpoint-up(lg) {
                    border-right: 1.5rem solid transparent;
                    > * {
                        padding-right: 1.5rem;
                    }
                }
            }
        }
    }
    tbody {
        tr {
            &:nth-child(even) td > * {
                background: var(--gray-950);
            }
            &:first-of-type {
                td {
                    &:first-of-type {
                        border-start-start-radius: var(--border-radius);
                    }
                    &:last-of-type {
                        border-start-end-radius: var(--border-radius);
                    }
                }
            }
            &:last-of-type {
                td {
                    &:first-of-type {
                        border-end-start-radius: var(--border-radius);
                    }
                    &:last-of-type {
                        border-end-end-radius: var(--border-radius);
                    }
                }
            }
        }
        td {
            // display: block;
            background: var(--gray-850);
            vertical-align: middle;
            > * {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.75rem 1rem;
                min-height: 7.5625rem;
            }
            &:first-of-type {
                border-left: 1rem solid var(--gray-850);
                > * {
                    border-radius: var(--border-radius) 0 0 var(--border-radius);
                }
                @include media-breakpoint-up(lg) {
                    border-left: 1.5rem solid var(--gray-850);
                    > * {
                        padding-left: 1.5rem;
                    }
                }
            }
            &:last-of-type {
                border-right: 1rem solid var(--gray-850);
                > * {
                    border-radius: 0 var(--border-radius) var(--border-radius) 0;
                }
                @include media-breakpoint-up(lg) {
                    border-right: 1.5rem solid var(--gray-850);
                    > * {
                        padding-right: 1.5rem;
                    }
                }
            }
        }
    }
    /* data types */
    .avatar {
        img {
            width: 65px;
            height: 65px;
        }
    }
    .name {
        justify-content: flex-start;
        white-space: nowrap;
    }
    .title {
        justify-content: flex-start;
        text-align: start;
        min-width: 200px;
    }
    .dsc {
        justify-content: flex-start;
        text-align: start;
        min-width: 200px;
    }
    .fractions {
        sup,
        sub {
            @include font-size(1.5rem);
        }
        sup {
            margin-block-start: -0.25rem;
            margin-inline-end: -1.125rem;
        }
        sub {
            margin-block-end: -1rem;
            margin-inline-start: -1rem;
            // margin-inline-end: -0.75rem;
        }
        hr {
            width: 2.5rem;
            height: 2px;
            opacity: 1;
            transform: rotate(-45deg);
        }
    }
    .status {
        &:before {
            content: "";
            display: block;
            @include border-radius($border-radius-pill);
            width: 1.25rem;
            height: 1.25rem;
            background: var(--status-color);
        }
    }
    .time {
        justify-content: flex-start;
        white-space: nowrap;
        &::before {
            $icon-color: $white;
            $icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#{$icon-color}'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z'/></svg>");
            content: escape-svg($icon);
            margin-inline-end: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    .btn + .btn {
        margin-left: 0.5rem;
    }
}

.avatar {
    img {
        @include border-radius($border-radius-pill);
        object-fit: cover;
        overflow: hidden;
    }
}

.flag {
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    color: var(--white);
    img {
        flex: 0 0 auto;
        @include border-radius($border-radius-pill);
        width: 35px;
        height: 35px;
        overflow: hidden;
        + img {
            margin-left: 0.5rem;
        }
    }
}

.completion {
    display: inline-flex;
    position: relative;
    color: var(--white);
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border: 3px solid var(--completion-color);
        border-radius: 1.125rem;
        width: 3.5rem;
        height: 3.5rem;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.offcanvas-profile {
    width: 750px;
    background: var(--gray-950);
    .offcanvas-header {
        position: static;
        padding: 1.5rem;
    }
    .offcanvas-body {
        padding: 0 1.5rem 1.5rem;
    }
    .avatar {
        text-align: center;
        img {
            width: 220px;
            height: 220px;
        }
    }
    .h1 {
        margin: 0;
    }
    li {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: $gray-550;
        font-weight: var(--fw-bold);
        + li {
            margin-top: 1.5rem;
        }
    }
    .completion {
        padding: 0 1rem;
    }
    .icon {
        fill: var(--white);
    }
    .list {
        border-radius: 1.25rem;
        padding: 1.5rem;
        background: var(--gray-850);
        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block-end: 1.5rem;
            margin-block-end: 1.5rem;
            border-bottom: 1px solid $gray-550;
            .btn {
                align-items: center;
                justify-content: center;
                padding: 0.25rem 1rem;
                min-width: 140px;
                text-align: center;
            }
        }
        .item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            font-weight: var(--fw-semibold);
            + .item {
                margin-top: 1.5rem;
            }
            &.add {
                .btn-icon {
                    background: var(--white);
                }
                .icon {
                    fill: var(--primary);
                }
            }
        }
        .image {
            position: relative;
            flex: 0 0 auto;
            margin-inline-start: 1rem;
            width: 3rem;
            height: 3rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .btn-clear {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(25%, -25%);
            }
        }
    }
    .content {
        align-self: center;
    }
    .text-error {
        margin-block-start: 0.5rem;
        font-style: italic;
        line-height: 1.2;
    }
}

.modal-file {
    .modal-content {
        border: 0;
        border-radius: 0;
        background-color: $gray-950;
    }
    .modal-title {
        @include font-size(1.5rem);
        font-style: italic;
    }
}
