.search {
    &.input-group {
        > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
            margin-left: 0;
            border-left: 0;
        }
    }

    .input-group-text {
        border-inline-end: 0;
        padding-inline-end: 0;
        background-color: unset;
        cursor: text;
    }
    .icon {
        fill: var(--gray-550);
    }
}

.form-control {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--gray-950) inset !important;
    -webkit-text-fill-color: var(--white) !important;
}

select:invalid {
    color: var(--gray-550);
}

.form-select {
    $form-select-indicator-color: $white;
    $form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
    background-image: escape-svg($form-select-indicator);
    // background-size: 1.125rem;
    color: $pagination-color;
}

.form-choices {
    .choices__inner {
        display: inline-flex;
        flex-wrap: wrap;
        // margin: 0;
        // border: 0;
        border-color: $gray-400;
        border-radius: 1.5625rem;
        // padding: 0;
        min-height: 50px;
        background: unset;
        font-size: 1rem;
        input {
            // margin: 0;
            // border: 0;
            // padding: 0;
            background: unset;
        }
    }
    &.is-open .choices__inner {
        border-color: $gray-400;
        border-radius: 1.5625rem 1.5625rem 0 0;
    }
    .choices__list--multiple .choices__item {
        position: relative;
        // margin: 0;
        // border: 0;
        border-radius: 0.625rem;
        padding: 0 1rem;
        padding-right: 1rem;
        background: var(--primary);
        font-size: 1rem;
        font-weight: normal;
        &[data-deletable] {
            padding-right: 1rem;
        }
        .choices__button {
            position: absolute;
            top: -1px;
            right: -1px;
            margin: 0;
            border: 0;
            @include border-radius($border-radius-pill);
            padding: 0;
            width: 1rem;
            height: 1rem;
            background: var(--quaternary);
            opacity: 1;
            transform: translate(50%, -50%);
        }
    }
}
