.side_menu {
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 0;
        left: 0;
        background: var(--gray-850);
        flex: 0 0 320px;
    }

    .offcanvas {
        @include font-size(1.125rem);
        @include media-breakpoint-up(lg) {
            visibility: visible !important;
            transform: none !important;
            flex: 0 0 auto !important;
            flex-grow: 0;
            transition: transform 0s;
        }
    }

    .offcanvas-header {
        align-items: flex-start;
        @include media-breakpoint-up(lg) {
            justify-content: center;
        }
        .navbar-brand {
            margin: 0;
            padding: 0;
            img {
                width: 100%;
                max-width: 200px;
            }
        }
        .btn-close {
            margin: 0;
            padding: 0;
        }
    }

    .offcanvas-footer {
        .nav-link {
            @include font-size(0.75rem);
            .icon {
                &:not(.arrow) {
                    margin-inline-end: 0.5rem;
                    width: 1rem;
                }
            }
        }
    }

    .nav-link {
        display: flex;
        align-items: center;
        @include border-radius($border-radius-pill);
        padding-inline-start: 1.5rem;
        color: rgba(var(--white-rgb), 0.5);
        .icon {
            fill: rgba(var(--white-rgb), 0.5);
            transition: $transition-base;
            &:not(.arrow) {
                margin-inline-end: 1.25rem;
            }
        }
        :is(.text) {
            margin-inline-end: auto;
        }
        :is(.arrow, .badge) {
            margin-inline-start: 0.75rem;
        }
        &.active {
            background: var(--primary);
            font-weight: var(--fw-medium);
        }
        &:is(.active, :hover) {
            color: var(--white);
            .icon {
                fill: var(--white);
            }
        }
        &:is(.collapsed) {
            .arrow {
                transform: rotate(-90deg);
            }
        }
    }

    .nav-item + .nav-item {
        margin-top: 0.5rem;
    }

    .dropdown {
        ul {
            padding-inline-start: 1.5rem;
            @include font-size(1rem);
            .nav-item {
                margin-top: 0.25rem;
            }
            .icon {
                &:not(.arrow) {
                    margin-inline-end: 0.75rem;
                }
            }
        }
    }

    .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        @include border-radius($border-radius-pill);
        width: 1.5rem;
        height: 1.5rem;
        background: rgba(var(--quaternary-rgb), 1);
        color: var(--white);
        @include font-size(0.75rem);
    }
}
