// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system ~6

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #c4c4c4;
$gray-500: #adb5bd !default;
$gray-550: #828282;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-850: #252525;
$gray-900: #212529 !default;
$gray-950: #18191a;
$black: #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "400": $gray-400,
    "550": $gray-550,
    "850": $gray-850,
    "950": $gray-950,
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #29a3ef;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #eb1213;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #23ad5d;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "white": $white,
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
// $primary: $blue !default;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
    "primary": #c80b12,
    "secondary": #29a3ef,
    "tertiary": #1ca051,
    "quaternary": #eb5757,
    "gray-550": $gray-550,
) !default;
// scss-docs-end theme-colors-map

// Options ~336
//
// Quickly modify global styling by enabling or disabling optional features.

// Prefix for :root CSS variables

$variable-prefix: "" !default;

// Gradient ~360
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient
$gradient: "" !default;
// scss-docs-end variable-gradient

// Spacing ~368
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer * 0.75,
    4: $spacer * 1,
    5: $spacer * 1.25,
    6: $spacer * 1.5,
    7: $spacer * 1.75,
    8: $spacer * 2,
    9: $spacer * 2.25,
    10: $spacer * 2.5,
    11: $spacer * 2.75,
    12: $spacer * 3,
    13: $spacer * 3.25,
    14: $spacer * 3.5,
    15: $spacer * 3.75,
    16: $spacer * 4,
    17: $spacer * 4.25,
    18: $spacer * 4.5,
    19: $spacer * 4.75,
    20: $spacer * 5,
    30: $spacer * 7.5,
    40: $spacer * 10,
) !default;

// Body ~400
//
// Settings for the `<body>` element.

$body-bg: $gray-950;
$body-color: $white;
$body-text-align: null !default;

// Grid columns ~498
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 2rem;

// Components ~513
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-radius-variables
$border-radius: 0.25rem !default;
$border-radius-sm: 0.2rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-pill: 50rem !default;
// scss-docs-end border-radius-variables

// Typography ~571
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Lato", sans-serif;
$font-family-monospace: "";
// stylelint-enable value-keyword-case

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root: null !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$line-height-base: 1.4 !default;

$h1-font-size: $font-size-base * 2.125 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h3-font-size: $font-size-base * 1.125 !default;
$h4-font-size: $font-size-base * 1 !default;
// scss-docs-end font-variables

// Buttons ~768
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-focus-width: none;
$btn-focus-box-shadow: none;

$btn-border-radius: $border-radius-pill;

// Toasts ~1367

// scss-docs-start toast-variables
$toast-max-width: 400px !default;
$toast-padding-x: 0.75rem;
$toast-padding-y: 0;
$toast-font-size: 1rem;
$toast-color: var(--white);
$toast-background-color: var(--gray-850);
$toast-border-width: 0;
// scss-docs-end toast-variables

// Close ~1594

// scss-docs-start close-variables
$btn-close-focus-shadow: 0;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$btn-close-focus-opacity: 1;
// scss-docs-end close-variables

// Offcanvas ~1612

// scss-docs-start offcanvas-variables
$offcanvas-horizontal-width: 320px !default;
$offcanvas-bg-color: var(--gray-850);
$offcanvas-border-width: 0;
// scss-docs-end offcanvas-variables
